# Node
/node_modules
/build
/dist

# Configs
config.yaml
.env
.vscode

# Prisma
/prisma/.env
*.db
*.db-journal

# Docker
docker-compose.yml

# Retype
.retype

# Legacy
sample *
*.log
notes.md
/uploads
*.log
cache-*
*.exe