::-webkit-scrollbar {
	width: 8px;
	height: 3px;
	border: 0px solid hsl(0, 0%, 27%);
	border-top: 0;
	border-bottom: 0;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-track {
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}